About this file
This dataset describes the medical records for Pima Indians
and whether or not each patient will have an onset of diabetes within ve years.

Fields description follow:

preg = Number of times pregnant

plas = Plasma glucose concentration a 2 hours in an oral glucose tolerance test

pres = Diastolic blood pressure (mm Hg)

skin = Triceps skin fold thickness (mm)

test = 2-Hour serum insulin (mu U/ml)

mass = Body mass index (weight in kg/(height in m)^2)

pedi = Diabetes pedigree function

age = Age (years)

class = Class variable (1:tested positive for diabetes, 0: tested negative for diabetes)

In [7]:
import pandas as pd

colnames=['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age','class']
df = pd.read_csv('Data/pima-indians-diabetes.csv', names=colnames)

In [8]:
df.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

Informação do DataSet

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   preg    768 non-null    int64
 1   plas    768 non-null    int64
 2   pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

Temos 8 features (características) e uma classe (target)


Vamos separar essas features do target

In [10]:
#Copiar todos atributos excepto a coluna class que é o target
x= df.drop('class', axis=1)

#Copiar apenas o atributo class que é o target
y= df['class']

In [11]:
#Remover valores duplicados do dataframe e mostrar o nome da tabela e a quantidade de linhas apagadas
df.drop_duplicates(inplace=True)
print("Tabela: ", df.shape)

Tabela:  (768, 9)

In [12]:
#Remover valores nulos do dataframe e mostrar o nome da tabela e a quantidade de linhas apagadas
df.dropna(inplace=True)
print("Tabela: ", df.shape)

Tabela:  (768, 9)